body {
  margin: 0;
}
* {
  font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.navbar {
  height: 20vh;
  text-decoration: none;
  padding: auto;
}
.center_nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.navOne {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_end {
  display: flex;
}
.navEndItems {
  display: flex;
  gap: 2rem;
}

.nav_links {
  text-decoration: none;
  padding: 1rem;
}
.profSection {
  display: flex;
  gap: 1rem;
  border: 1px solid grey;
  padding: 4px;
  border-radius: 10px;
}

.navsection {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 2rem;
  height: 60px;
}
.navitems {
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconSearch {
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
  background: red;
  border-radius: 50%;
}

/* #2Nav */
.navCol {
  display: flex;
  border: 2px solid black;
  border-radius: 30px;
  height: auto;
  width: 70vw;
  margin: 0 5% 0 20%;
}

.col {
  border-right: 1px solid black;
  height: 40px;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
.col,
li {
  list-style-type: none;
}
.inputCont {
  border: transparent;
}

.col1 {
  padding-right: 1rem;
  width: 266px;
}
.col4A {
  height: 40px;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
.col4 {
  display: flex;
  padding-top: 1rem;
  gap: 1rem;
}

.search_icon {
  color: white;
  background: red;
  padding: 0.875rem;
  border-radius: 50%;
}
.addGuests {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: white;
  height: 300px;
  width: 350px;
  border-radius: 10px;
  top: 21vh;
  right: 22vw;
  border: 1px solid black;
  border-radius: 5px;
}
.Guest {
  display: flex;
  margin: 0.5rem;
  padding: 1rem;
  width: 300px;
  height: 60px;
}

.icon-shape {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}
.restrictions {
  font-size: 10px;
}

.contentBox {
  border-radius: 20px;
}
.Places {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.placeImg {
  border-radius: 20px;
}

.placeDetails {
  display: block;
  margin-left: 0;
}
.Profile {
  width: auto;
}
li {
  font-size: 1rem;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}
